openapi: 3.2.0
info:
  title: BeZero Ratings Projects API
  version: 3.0.0
  x-logo:
    url: ./logo.svg
    altText: BeZero logo
    href: https://bezerocarbon.com
  contact:
    name: BeZero Engineering
    email: engineering@bezerocarbon.com
  description: 'BeZero Ratings API Migration Guide v2 to v3

    # Introduction to the Ratings API

    The BeZero Ratings API provides information about project ratings in a standard JSON response.'
servers:
- url: https://api.bezerocarbonmarkets.com/v3
tags:
- name: Projects
paths:
  /projects:
    get:
      description: This endpoint returns projects for which BeZero has a rating. It is sorted by `dataLastUpdatedAt` and paginated into 100 projects. BeZero can add new ratings at any time so BeZero recommends calling this endpoint at the same cadence as the ratings list, using the `changedSince` functionality to filter for any changes.
      summary: List Projects
      operationId: listProjects
      parameters:
      - $ref: '#/components/parameters/AcceptApiVersion'
      - in: query
        name: changedSince
        description: optional ISO 8601 datetime string, when provided will filter out ratings where the data has not changed since provided date
        required: false
        schema:
          type: string
        example: '2024-07-10T09:46:11Z'
      - in: query
        name: page
        description: optional pagination value
        required: false
        schema:
          type: integer
        example: 1
      security:
      - OAuth2:
        - bcm/v3.projects:list
      responses:
        '200':
          description: List project information
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - accreditor
                      - registryID
                      - name
                      - sectorGroup
                      - sector
                      - subSector
                      - location
                      - dataLastUpdatedAt
                      properties:
                        id:
                          type: string
                          description: The BeZero Carbon unique identifier for the project this project applies to
                        accreditor:
                          type: string
                          description: The human-readable name of the accreditor used by the project
                        registryID:
                          type: string
                          description: ID of project as described in official project documentation
                        sectorGroup:
                          type: string
                          description: Sector group of the project
                        sector:
                          type: string
                          description: Sector of the project
                        subSector:
                          type: string
                          description: Sub-sector of the project
                        location:
                          type: string
                          description: ISO 3166-1 alpha-3 country code for where this project is located
                        dataLastUpdatedAt:
                          type: string
                          description: ISO 8601 datetime string for when this project's data was most recently changed
                  links:
                    type: object
                    properties:
                      queryLatestChanges:
                        type: string
                        description: Relative URL for future use when wanting to query all ratings that have changed since this current request was made
                      nextPage:
                        type:
                        - string
                        - 'null'
                        description: Paginated page number
                      prevPage:
                        type:
                        - string
                        - 'null'
                        description: Paginated page number
                example:
                  projects:
                  - id: ABC123
                    accreditor: Full Accreditor Name
                    registryID: '123'
                    name: Full Project Name
                    sectorGroup: Nature-Based Solutions
                    sector: Blue Carbon
                    subSector: Mangroves
                    location: MMR
                    dataLastUpdatedAt: '2024-09-08T09:00:00Z'
                  - id: DEF123
                    accreditor: Full Accreditor Name
                    registryID: DEF123
                    name: Full Project Name
                    sectorGroup: Nature-Based Solutions
                    sector: Soil Carbon & Agriculture
                    subSector: Peatlands
                    location: IDN
                    dataLastUpdatedAt: '2024-09-07T10:00:00Z'
                  - id: GH1000000100
                    accreditor: Full Accreditor Name
                    registryID: GH_1000000_100
                    name: Full Project Name
                    sectorGroup: Nature-Based Solutions
                    sector: Forestry
                    subSector: Afforestation, Reforestation & Restoration
                    location: BRA
                    dataLastUpdatedAt: '2024-09-07T10:00:00Z'
                  links:
                    queryLatestChanges: /projects?changedSince=2024-09-06T09:00:00Z
                    nextPage: /projects?page=2
                    prevPage: /projects?page=1
        '403':
          description: unauthorised
        '429':
          description: rate limit exceeded
          headers:
            Retry-After:
              description: seconds to wait before retrying
              schema:
                type: integer
      tags:
      - Projects
components:
  parameters:
    AcceptApiVersion:
      in: header
      name: Accept-API-Version
      required: false
      schema:
        type: string
        enum:
        - '3.0'
        - '3.1'
      description: 'Optional compatibility version. If omitted, the API defaults to `3.0` behavior.

        '
  securitySchemes:
    OAuth2:
      type: oauth2
      description: This API uses OAuth 2 with Client Credentials
      flows:
        clientCredentials:
          tokenUrl: https://login.bezerocarbonmarkets.com/oauth2/token
          scopes:
            bcm/v3.ratings:list: list ratings
            bcm/v3.ratings:details: read rating details
            bcm/v3.ratings:riskFactors: read rating risk factors
            bcm/v3.projects:list: list projects
